<ion-view id="artist-screen" class="artist-screen royal-bg">
  <ion-nav-title>{{vm.artist.name}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-android-favorite" ng-class=" { 'ion-android-favorite-outline': !vm.favorites[vm.artist.id] }"
            ng-click="vm.switchFavorite()"></button>
  </ion-nav-buttons>
  <div class="blur-bg" bg-image="vm.artist.banner || 'images/no-banner.jpg'"></div>
  <ion-content class="transparent-bg light" fading-bar="280" fade-to-rgb="79,10,54" state-name="app.artist">
    <div class="artist-bg" bg-image="vm.artist.banner || 'images/no-banner.jpg'"></div>
    <div class="artist-info">
      <div class="artist-photo" bg-image="vm.artist.photo || 'images/no-photo.jpg'"></div>
      <h3 class="artist-name light">{{vm.artist.name}}</h3>
      <h5 class="artist-label">
        <span>{{vm.artist.label}}</span> / <span class="country">{{vm.artist.country}}</span>
      </h5>
    </div>
    <div class="social">
      <button class="button button-small button-clear icon-left ion-fa fa-soundcloud button-light"
              ng-if="vm.artist.soundcloud" ng-click="vm.open(vm.artist.soundcloud)">Soundcloud</button>
      <button class="button button-small button-clear icon-left ion-fa fa-mixcloud button-light"
              ng-if="vm.artist.mixcloud" ng-click="vm.open(vm.artist.mixcloud)">Mixcloud</button>
      <button class="button button-small button-clear icon-left ion-social-facebook button-light"
              ng-if="vm.artist.facebook" ng-click="vm.open(vm.artist.facebook)">Facebook</button>
      <button class="button button-small button-clear icon-left ion-android-globe button-light"
              ng-if="vm.artist.website" ng-click="vm.open(vm.artist.website)" translate>Website</button>
    </div>
    <div class="player" ng-if="!offline && vm.artist.soundcloud" plangular="{{vm.artist.soundcloud + '/tracks'}}">
      <div class="buttons left">
        <button ng-click="playPause(index); vm.updatePlayerContext(this)" class="button button-clear button-light"
                ng-class="player.playing === track.src  ? 'ion-ios-pause' : 'ion-ios-play'"></button>
        <button ng-click="next(); vm.updatePlayerContext(this)" class="next button button-light button-clear ion-skip-forward"></button>
      </div>
      <div class="track-info light">
        <div class="text-overflow">{{track.title}}</div>
        <div class="progress-container">
          <progress class="progress" ng-click="seek($event)" ng-value="currentTime / duration || 0"></progress>
          <samp class="time">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
        </div>
      </div>
    </div>
    <div class="bio text-justify" ng-bind-html="vm.artist.bio.fr || vm.artist.bio.en || vm.noBio"></div>
    <div class="set-info">
      <div class="set" ng-repeat="set in vm.artist.sets">
        {{::vm.formatDate(set.start)}} - {{::vm.formatDate(set.end)}} // {{::set.type}} @ <span class="text-lowercase">{{::set.scene.name}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
