ion-side-menus(enable-menu-with-back-views="false")
  ion-side-menu-content
    ion-nav-bar.bar-royal
      ion-nav-back-button
      ion-nav-buttons(side="left")
        button.button.button-icon.button-clear.ion-navicon(menu-toggle="left")
    ion-nav-view(name="menuContent")

  ion-side-menu(side="left")
    ion-header-bar.bar-dark
      h1.title Left
    ion-content.dark-bg
      div(plangular="https://soundcloud.com/hadrarecords/tracks")
        button(ng-click="playPause(index)", class="button button-icon button-clear button-royal ion-ios-play")
        button(ng-click="next()", ng-if="track", class="button button-icon button-clear button-royal ion-ios-skipforward")
        | {{track.user.username}} - {{track.title}}

      ion-list
          ion-item.item-dark(menu-close, href="#/app/home") Search
          ion-item.item-dark(menu-close, href="#/app/releases") Browse
          ion-item.item-dark(menu-close, href="#/app/playlists") Playlists


