/*
 * Application global variables.
 */

// Additional colors
// -----------------

$white: #fff;
$black: #000;
$lightgrey: #ccc;
$superdark: #333;


// Spacing
// -------

$padding-small: 6px;
$padding-big: 20px;
