// Encapsulate component style into its own "namespace "to avoid naming and css collision
.artists-screen {

  .artist-tile {
    $tile-height: 140px;
    $type-height: 28px;
    $name-height: $tile-height - $type-height;

    transform: translate3d(0,0,0);
    position: relative;
    float: left;
    width: 50%;
    height: $tile-height;
    overflow: hidden;

    &.activated, :active {
      .artist-photo {
        filter: blur(2px);
      }
      .name {
        opacity: .7;
      }
    }

    .artist-photo {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .name {
      position: absolute;
      padding: $padding-small;
      margin: 0;
      top: ($name-height / 2);
      transform: translateY(-50%);
      width: 100%;
      max-height: $name-height;
      text-align: center;
      text-shadow: 0 0 8px $black;
      overflow: hidden;
      color: $white;
    }

    .type {
      position: absolute;
      bottom: 0;
      height: $type-height;
      width: 100%;
      text-align: center;
      background: transparentize($black, 0.4);
      line-height: $type-height;
      color: $lightgrey;
      font-size: 13px;
      text-transform: uppercase;
    }

  }

}

.button-bar.favorites-filter {
  $favorite-filter-height: 28px;

  margin-top: 8px;

  .button {
    min-height: $favorite-filter-height;
    line-height: $favorite-filter-height;

    &.button-outline.active {
      background: $light;
      color: $royal;
    }
  }
}

