<ion-view id="artists-screen" class="artists-screen royal-bg">
  <ion-nav-title>
    <div class="favorites-filter button-bar">
      <button class="button button-small button-outline" ng-class="{ active: !vm.showFavorites }"
              ng-click="vm.showAll(true)" translate>All</button>
      <button class="button button-small button-outline" ng-class="{ active: vm.showFavorites }"
              ng-click="vm.showAll(false)" translate>Favorites</button>
    </div>
  </ion-nav-title>
  <ion-content class="dark-bg content-fill-height" delegate-handle="artists-scroll" overflow-scroll="true">
    <div class="artist-tile" ng-repeat="artist in filtered = (festival.artists | filter:vm.favoritesFilter()) track by $index"
         ng-click="vm.showArtist(artist.id)">
      <div class="artist-photo" bg-image="artist.photo || 'images/no-photo.jpg'"></div>
      <h3 class="name">{{artist.name}}</h3>
      <div class="type">{{artist.type}}</div>
    </div>
    <div class="block-vertical-center-absolute full-width text-center" ng-if="filtered.length === 0">
      <h4 class="stable" translate>No favorites yet!</h4>
    </div>
  </ion-content>
</ion-view>
