// Encapsulate component style into its own "namespace "to avoid naming and css collision
.map-screen {

  .angular-google-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .angular-google-map-container {
    height: 100%;
  }

}
