<ion-view id="map-screen" class="map-screen">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-content scroll="false" class="dark-bg content-full">
    <ion-scroll class="full" direction="xy" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false"
                zooming="true" min-zoom=".25" locking="false" ng-if="festival.map && festival.map !== 'soon'">
      <img class="block-vertical-center" ng-src="{{festival.map}}" alt=""/>
    </ion-scroll>
    <div ng-if="festival.map && festival.map === 'soon'"
         class="block-vertical-center-absolute full-width text-center padding">
      <i class="ion-calendar icon-huge grey"></i><br/>
      <h4 class="grey" translate>Coming soon!</h4>
    </div>
  </ion-content>
</ion-view>
