// Encapsulate component style into its own "namespace "to avoid naming and css collision
.map-screen {

  .content-full .scroll {
    height: 100%;
  }

  .block-vertical-center {
    width: 100%;
    top: 50%;
  }

}
