<ion-view id="home-screen" class="home-screen">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-content fading-bar="200" fade-to-rgb="79,10,54" state-name="app.home">
    <div class="title-logo"></div>
    <div class="row">
      <div class="col">
        <button class="button button-raised button-energized button-block no-margin icon-left ion-music-note" analytics-on="click" analytics-event="Tickets"
                ng-click="vm.open('http://www.hadra.net/shop/new/category.php?id_category=16')" translate>CDs</button>
      </div>
      <div class="col">
        <button class="button button-raised button-energized button-block no-margin icon-left ion-tshirt" analytics-on="click" analytics-event="Shop"
                ng-click="vm.open('http://www.hadra.net/shop/new/category.php?id_category=13')" translate>T-Shirts</button>
      </div>
    </div>
    <ion-list type="card" class="text-center card-close">
      <ion-item class="item-body no-padding">
        <img class="full-image" ng-src="{{festival.photo}}">
        <p class="padding no-margin">{{festival.description}}</p>
      </ion-item>
    </ion-list>
    <div class="space-top-large"></div>
    <h5 class="section-title padding no-margin dark" translate>Featured artists</h5>
    <div class="image-gallery">
      <ion-scroll direction="x" delegate-handle="artists-scroll">
        <div class="ui-gallery">
          <div ng-repeat="artist in festival.featuredArtists track by $index" bg-image="artist.photo" ng-click="vm.showArtist(artist.id)" class="image-thumbnail featured-artist">
            <div class="artist-name">{{artist.name}}</div>
          </div>
        </div>
      </ion-scroll>
    </div>
    <h5 class="section-title padding no-margin dark" translate>Last edition</h5>
    <div class="image-gallery">
      <ion-scroll direction="x" delegate-handle="photos-scroll" image-gallery images="festival.featuredPhotos"></ion-scroll>
    </div>
    <div class="video-player">
      <ng-youtube-embed url="festival.featuredVideo" autoplay="false" autohide=true" color="white" hl="fr" width="100%" height="190px"
                        ivloadpolicy="false" showinfo="false"></ng-youtube-embed>
    </div>
    <div class="has-playing-spacer"></div>
  </ion-content>
  <div class="playing" ng-click="vm.showArtist(vm.nowPlaying.artist.id)">
    <img class="speaker left" src="images/speaker.png" ng-class="{pound: vm.animate}"/>
    <img class="speaker right" src="images/speaker.png" ng-class="{pound: vm.animate}"/>
    <div class="playing-info text-center block-vertical-center">
      <h5 class="extra-info text-white">{{vm.nowPlaying.scene}}</h5>
      <h3 class="text-white text-overflow no-margin">{{vm.nowPlaying.artist.name}}</h3>
      <h4 class="extra-info text-white">{{vm.nowPlaying.slot}}</h4>
    </div>
  </div>
</ion-view>
