<ion-view id="home-screen" class="home-screen">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-content fading-bar="200" fade-to-rgb="79,10,54" state-name="app.home">
    <div class="title-logo"></div>
    <div class="row">
      <div class="col">
        <button class="button button-raised button-energized button-block no-margin icon-left ion-music-note" analytics-on="click" analytics-event="Tickets"
                ng-click="vm.open('http://www.hadra.net/shop/new/category.php?id_category=16')" translate>CDs</button>
      </div>
      <div class="col">
        <button class="button button-raised button-energized button-block no-margin icon-left ion-tshirt" analytics-on="click" analytics-event="Shop"
                ng-click="vm.open('http://www.hadra.net/shop/new/category.php?id_category=13')" translate>T-Shirts</button>
      </div>
    </div>
    <ion-list type="card" class="text-center card-close">
      <ion-item class="item-body no-padding">
        <img class="full-image" src="images/home/place.jpg">
        <p class="padding no-margin">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        </p>
      </ion-item>
    </ion-list>
    <div class="space-top-large"></div>
    <h5 class="padding no-margin dark" translate>Featured artists</h5>
    <div class="image-gallery">
      <ion-scroll direction="x" delegate-handle="artists-scroll">
        <div class="ui-gallery">
          <div ng-repeat="image in vm.images" bg-image="image" ng-click="vm.showArtist(1)" class="image-thumbnail featured-artist">
            <div class="artist-name">{{'Shotu vs Driss'}}</div>
          </div>
        </div>
      </ion-scroll>
    </div>
    <h5 class="padding no-margin dark" translate>Last edition</h5>
    <div class="image-gallery">
      <ion-scroll direction="x" delegate-handle="photos-scroll" image-gallery images="vm.images"></ion-scroll>
    </div>
    <div class="video-player">
      <ng-youtube-embed url="'https://www.youtube.com/watch?v=RX_95mmz59Y'" autoplay="false" autohide=true" color="white" hl="fr" width="100%" height="190px"
                        ivloadpolicy="false" showinfo="false"></ng-youtube-embed>
    </div>
    <div class="has-playing-spacer"></div>
  </ion-content>
  <div class="playing">
    <img class="speaker left" src="images/speaker.png" ng-class="{pound: vm.animate}"/>
    <img class="speaker right" src="images/speaker.png" ng-class="{pound: vm.animate}"/>
    <div class="playing-info text-center block-vertical-center">
      <h5 class="extra-info text-white">Main floor</h5>
      <h3 class="text-white text-overflow no-margin">The Green Nuns of the Revolution</h3>
      <h4 class="extra-info text-white">22:00 - 0:00</h4>
    </div>
  </div>
</ion-view>
