<ion-view id="home-screen" class="home-screen">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-content fading-bar="200" fade-to-rgb="79,10,54" state-name="app.home">
    <div class="padding title-logo"></div>
    <div class="row">
      <div class="col">
        <button class="button button-energized button-block no-margin icon-left ion-fa fa-ticket" analytics-on="click" analytics-event="Tickets"
                ng-click="vm.open('http://www.hadra.net/shop/new/category.php?id_category=6')" translate>Tickets</button>
      </div>
      <div class="col">
        <button class="button button-energized button-block no-margin icon-left ion-fa fa-shopping-bag" analytics-on="click" analytics-event="Shop"
                ng-click="vm.open('http://www.hadra.net/shop/new/')" translate>Shop</button>
      </div>
    </div>
    <ion-list type="card" class="text-center card-close">
      <ion-item class="item-body no-padding">
        <img class="full-image" src="images/home/place.jpg">
        <p class="padding no-margin">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        </p>
      </ion-item>
    </ion-list>
    <div class="space-top-large"></div>
    <h5 class="padding no-margin dark" translate>Featured artists</h5>
    <div class="image-gallery">
      <ion-scroll direction="x" image-gallery images="vm.images" overflow-scroll="false"></ion-scroll>
    </div>
    <h5 class="padding no-margin dark" translate>Photos from last year's edition</h5>
    <div class="image-gallery">
      <ion-scroll direction="x" image-gallery images="vm.images" overflow-scroll="false"></ion-scroll>
    </div>
    <div class="has-playing-spacer"></div>
  </ion-content>
  <div class="playing dark-bg">
    <img class="speaker left" src="images/speaker.png" ng-class="{pound: vm.animate}"/>
    <img class="speaker right" src="images/speaker.png" ng-class="{pound: vm.animate}"/>
    <div class="playing-info text-center block-vertical-center">
      <h5 class="extra-info text-white">Main floor</h5>
      <h3 class="text-white text-overflow no-margin">The Green Nuns of the Revolution</h3>
      <h4 class="extra-info text-white">22:00 - 0:00</h4>
    </div>
  </div>
</ion-view>
