// Encapsulate component style into its own "namespace "to avoid naming and css collision
.home-screen {

  $playing-height: 100px;

  .title-logo {
    //transform: translate3d(0,0,0);
    height: 200px;
    background: url('../images/htf-2016-banner.jpg') center/cover no-repeat;
  }

  .social {
    display: flex;
    flex-direction: row;
    padding: $content-padding $content-padding 0 $content-padding;
    justify-content: space-around;

    .icon-left::before {
      font-size: 20px;
    }
  }

  .has-playing-spacer {
    height: $playing-height;
  }

  .playing {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $playing-height;
    background: transparentize($royal, .15);

    &.activated {
      opacity: 0.8;
    }
  }

  .image-gallery {
    .ui-gallery {
      margin-top: 0;
      white-space: nowrap;

      .image-thumbnail {
        border-radius: 3px;
      }

    }
  }

  .featured-artist {
    position: relative;
    text-align: center;
    color: $lightgrey;
    text-shadow: 0 0 8px $black, 0 0 2px $superdark;

    .artist-name {
      padding: $padding-small;
      background: transparentize($black, .6);
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: normal;
    }
  }

  .photo {
    height: 100px;
    border-radius: 3px;
    background: no-repeat center;
    background-size: cover;
  }

  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }

  .pound {
    animation: pound .15s 8 alternate;
    transform-origin: center
  }

  .speaker {
    height: ($playing-height - 2*$content-padding);
    margin: $content-padding;
  }

  .playing-info {
    padding: $content-padding;

    .extra-info {
      margin: 6px 0;
    }
  }

  .video-player {
    margin: $content-padding;
    margin-top: 0;
    overflow: hidden;

    &, iframe {
      border-radius: 4px;
    }
  }

  .section-title {
    background: #eee;
    margin-bottom: $content-padding !important;
    text-transform: uppercase;
  }

}
