// Encapsulate component style into its own "namespace "to avoid naming and css collision
.info-screen {

  h1, h2, h3, h4, h5, h6 {
    color: $royal;
  }

  ol, ul {
    padding-left: $padding-big;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  p {
    margin: $content-padding 0;
  }

  .item.item-body {
    padding-top: $content-padding / 2;
  }

}
