<ion-view id="player-screen" class="player-screen royal-bg">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-cart-outline" ng-if="festival.playerShop"
            ng-click="vm.open(festival.playerShop)"></button>
  </ion-nav-buttons>
  <ion-content class="light content-fill-height" fading-bar="280" fade-to-rgb="79,10,54" state-name="app.player">
    <div plangular="{{festival.playerSoundcloud}}" ng-if="!offline">
      <div class="player-main">
        <div class="artwork relative" bg-image="track.artwork_url.replace('large.jpg', 't500x500.jpg')">
          <div class="block-vertical-center-absolute text-center full-width light" ui-loading="!track"></div>
          <h4 class="block-vertical-center-absolute light text-center full-width" ng-if="track && !track.artwork_url" translate>No cover</h4>
        </div>
        <div class="artwork-overlay">
          <div class="track-progress">
            <samp class="time">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
            <progress class="progress" ng-click="seek($event)" ng-value="currentTime / duration || 0"></progress>
          </div>
          <div class="track-info">
            <h4 class="track-name text-center text-overflow light">{{track.title}}</h4>
            <div class="track-artist text-center text-overflow">{{track.user.username}}</div>
          </div>
          <!--<h4>{{playlist.user.username}}</h4>-->
          <!--<h3>{{playlist.title}}</h3>-->
          <div class="player-controls">
            <button ng-click="previous()" class="button button-clear button-light ion-ios-skipbackward"></button>
            <button ng-click="playPause(index)" class="button button-clear button-light"
                    ng-class="player.playing === track.src ? 'ion-ios-pause' : 'ion-ios-play'"></button>
            <button ng-click="next()" class="button button-clear button-light ion-ios-skipforward"></button>
          </div>
        </div>
      </div>
      <ion-list>
        <ion-item class="playlist-track" ng-repeat="track in tracks" ng-click="playPause($index)" ng-class="{ current: player.playing === track.src }">
        <span class="playlist-track-info">
          <span class="number">{{$index + 1}}</span><span>{{track.title}}</span>
        </span>
          <!--<span>{{track.user.username}}</span>-->
          <!--<span class="item-note">{{ track.duration / 1000 | hhmmss }}</span>-->
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="offline" class="block-vertical-center-absolute full-width text-center padding">
      <i class="ion-wifi icon-huge light"></i><br/>
      <h4 class="light" translate>An internet connection is required to use the player</h4>
    </div>
  </ion-content>
</ion-view>
