/*
 * Global CSS helpers.
 * No theme-related style should goes here, only general helpers.
 */

// Helper functions
// ----------------

@function shade($color, $value){
  @return mix(#000, $color, $value);
}

@function tint($color, $value){
  @return mix(#fff, $color, $value);
}

// Layout helpers
// --------------

.relative {
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.content-fill-height {
  > .scroll {
    min-height: 100%;
    height: auto;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.space-top {
  margin-top: $padding-base-vertical;
}

.space-top-big {
  margin-top: $padding-big;
}

.space-top-large {
  margin-top: $padding-large-vertical;
}

.space-bottom {
  margin-bottom: $padding-base-vertical;
}

.space-bottom-big {
  margin-bottom: $padding-big;
}

.space-bottom-large {
  margin-bottom: $padding-large-vertical;
}

.space-left {
  margin-left: $padding-base-horizontal / 2;
}

.space-right {
  margin-right: $padding-base-horizontal / 2;
}

// Center a block element vertically
.block-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.block-vertical-center-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Text overflow with ellipsis for single line blocks
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-justify {
  text-align: justify;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.grey {
  color: $lightgrey;
}

.icon-big::before {
  font-size: 2em;
}

.icon-huge::before {
  font-size: 3em;
}
