/*
 * Global CSS helpers.
 * No theme-related style should goes here, only general helpers.
 */

 // Layout helpers
 // --------------

 // Center a block element vertically
 .block-vertical-center {
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
 }

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.text-white {
  color: #fff;
}

.ion-fa:before {
  font-family: FontAwesome;
}

.card-close .list.card {
  margin-top: 0;
  margin-bottom: 0;
}
