// Encapsulate component style into its own "namespace "to avoid naming and css collision
.lineup-screen {

  .bar-subheader {
    padding: 0;
  }

  .button-bar > .button {
    // Restore standard sizes
    line-height: 42px;
    border-radius: 0;
  }

  .list-joined {
    margin-bottom: -1px;
  }

  .time {
    font-size: 14px;
    font-weight: bold;
    margin-right: $content-padding;
  }

  .option-button {
    font-size: 24px;
  }

  .item .badge {
    display: inline-block;
    position: static;
    float: right;
    font-size: 10px;
    text-align: center;
  }

  .badge .badge-calm {
    min-width: 32px;
  }

  .item.current .badge {
    background: $positive;
  }

  .item-set .item-content {
    padding-right: $padding-large-horizontal;
  }

  .item-divider {
    text-transform: capitalize;
  }

}
