<ion-view id="lineup-screen" class="lineup-screen royal-bg">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-play-outline"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <div class="button-bar">
      <a class="button button-positive" ng-repeat="floor in festival.lineup" ng-click="vm.selectFloor($index)"
         ng-class="{ active: vm.selectedFloor === $index }" translate>{{::floor.name}}</a>
    </div>
  </div>
  <ion-content class="dark-bg has-subheader" overflow-scroll="false">
    <ion-list>
      <div class="item item-divider" ion-affix data-affix-within-parent-with-class="list">
        {{'Thursday' | translate}}
      </div>
      <ion-item class="item-icon-right" ng-repeat="set in festival.lineup[vm.selectedFloor].sets"
                href="#/artists/{{set.artistId}}">
        <span class="time">{{::vm.formatDate(set.start)}} - {{::vm.formatDate(set.end)}}</span>
        <span>{{::set.artist.name}}</span>
        <!--<i class="icon ion-ios-arrow-forward"></i>-->
        <ion-option-button class="option-button button-positive ion-android-favorite"
                           ng-click="vm.switchFavorite(festival.artistById[set.artistId])"
                           ng-class=" { 'ion-android-favorite-outline': !vm.favorites[set.artistId] }">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
