// Encapsulate component style into its own "namespace "to avoid naming and css collision
.lineup-screen {

  .bar-subheader {
    padding: 0;
  }

  .button-bar > .button {
    // Restore standard sizes
    line-height: 42px;
    border-radius: 0;
  }

  .time {
    font-size: 14px;
    font-weight: bold;
    margin-right: $content-padding;
  }

}
