<ion-view id="lineup-screen" class="lineup-screen royal-bg">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-radio-waves" ng-disabled="!vm.hasStarted"
            ng-click="vm.showPlaying()" analytics-on="click" analytics-category="button"
            analytics-event="Show now playing"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <div class="button-bar">
      <a class="button button-positive" ng-repeat="floor in festival.lineup" ng-click="vm.selectFloor($index)"
         ng-class="{ active: vm.selectedScene === $index }">{{::floor.name}}</a>
    </div>
  </div>
  <ion-content class="light-bg has-subheader content-fill-height" overflow-scroll="false" delegate-handle="lineupScroll">
    <ion-list type="list-joined" ng-if="!festival.lineup[vm.selectedScene].hide"
              ng-repeat="day in festival.lineup[vm.selectedScene].setsByDay">
      <div class="item item-divider" ion-affix data-affix-within-parent-with-class="list">
        {{vm.getWeekday(day.weekday)}}
      </div>
      <ion-item class="item-set" ng-repeat="set in day.sets" ng-click="vm.showArtist(set)" id="{{set.id}}"
                ng-class="{ 'positive current': vm.playing[vm.selectedScene] === set || (set.versus && vm.playing[vm.selectedScene] === day.sets[$index - 1]),'item-versus': set.versus, 'item-before-versus': vm.hasVersusNext(set, day.sets, $index) }">
        <span ng-if="::set.artist" class="badge badge-calm">{{::set.type}}</span>
        <span ng-if="vm.favorites[set.artistId]" class="badge badge-positive"><i class="ion-android-favorite"></i></span>
        <span ng-if="::set.versus" class="versus" translate>vs</span>
        <span class="time">{{::vm.formatDate(set.start)}}-{{::vm.formatDate(set.end)}}</span><span>{{::set.artist ? set.artist.name : vm.breakTime}}</span>
        <ion-option-button class="option-button button-positive ion-android-favorite"
                           ng-click="vm.switchFavorite(festival.artistById[set.artistId])"
                           analytics-on="click" analytics-category="button" analytics-event="Add favorite from lineup"
                           analytics-value="{{::set.artist ? set.artist.name : vm.breakTime}}"
                           ng-class=" { 'ion-android-favorite-outline': !vm.favorites[set.artistId] }">
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div ng-if="festival.lineup[vm.selectedScene].hide"
         class="block-vertical-center-absolute full-width text-center padding">
      <i class="ion-calendar icon-huge grey"></i><br/>
      <h4 class="grey" translate>Coming soon!</h4>
    </div>
  </ion-content>
</ion-view>
