// Encapsulate component style into its own "namespace "to avoid naming and css collision
.thumbnail {

  &.photo {
    height: 100px;
    border-radius: 3px;
    background: no-repeat center;
    background-size: cover;
    transition: all .5s;

    &.expanded {
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparentize(#000, .5);
      background-size: contain;
      z-index: 1000;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
    }
  }

}

//Scale-In Animation
.scale-in {
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
  opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
  -webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
  transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}
.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.scale-in.ng-leave,
.scale-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}
