// Helper classes for bgImage directive
// ------------------------------------

.bg-image {
  background-size: cover;
  background-position: center;
}

.bg-image-contain {
  background-size: contain;
}
